name: Cleanup Docker Images from GHCR

on:
  workflow_dispatch:
  
env:
  REGISTRY: ghcr.io

jobs:
  cleanup-ghcr-images:
    name: ghcr.io cleanup action
    runs-on: ubuntu-latest
    permissions:
      packages: write
  
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          delete-tags: 'sha256.*'
          use-regex: true
          dry-run: true
          delete-ghost-images: true
          delete-partial-images: true
          delete-orphaned-images: true
          delete-untagged: true
